.container {
    max-width: 400px;
    margin: 50px auto;
}

.form-group {
    margin-bottom: 40px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #aaa;  /* 使用稍微深一点的颜色 */
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);  /* 添加轻微的阴影效果 */
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
}

p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: #06c;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.radio-group {
    display: flex;
    gap: 20px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.radio-group input[type="radio"]:checked + label {
    background-color: #007aff;
    color: white;
}

.form-group input:focus {
    border-color: #007aff;  /* 当输入框获得焦点时改变边框颜色 */
    outline: none;  /* 移除默认的焦点轮廓 */
    box-shadow: 0 0 5px rgba(0,122,255,0.3);  /* 添加蓝色阴影效果 */
}